*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Log in and register pages*/
.log-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 1, 0.6)), to(rgba(0, 0, 0, 0.5))), url(/assets/pic/forest.jpg);
  background-image: linear-gradient(rgba(0, 0, 1, 0.6), rgba(0, 0, 0, 0.5)), url(/assets/pic/forest.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.log-form {
  background-color: rgba(51, 100, 51, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  width: 50%;
  -webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
          box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  border-radius: 10px;
}

.log-form a {
  color: #000;
}

.log-form a:hover {
  color: greenyellow;
}

.log-form .user-sign-in-up-title {
  margin-bottom: 20px;
  font-size: larger;
}

.log-form .log {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  margin: 5px;
}

.log-form .log input {
  background-color: rgba(51, 100, 51, 0.7);
  padding: 5px;
  outline: none;
  border: none;
  min-width: 90%;
}

.log-form .log .icon {
  padding: 5px;
}

.log-form .submit {
  padding: 10px;
  margin: 10px;
  width: 80%;
  background-color: #066806;
  border: none;
  border-radius: 10px;
}

.log-form .submit:hover {
  cursor: pointer;
  background-color: #407405;
}

.users-page {
  height: 100vh;
  background-color: #08e1ae;
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
}

.users-page .sign-in-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.users-page .sign-in-up a {
  color: #000;
  margin: 5px;
}

.users-page .sign-in-up a:hover {
  color: blue;
}

.users-page .user-list-title {
  font-size: larger;
  text-align: center;
  padding: 30px;
}

.users-page #create-user-btn {
  background-color: #229150;
  border: none;
  width: 15%;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

.users-page #create-user-btn:hover {
  cursor: pointer;
  background-color: #29bb66;
}

.users-page .list-of-users {
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.users-page .list-of-users #user-edit {
  color: #000;
}

.users-page .list-of-users #user-edit:hover {
  color: red;
}

#user-list-page {
  display: block;
  text-align: right;
  padding: 10px;
  font-size: small;
}

#user-list-page:hover {
  color: cyan;
}

.edit-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.edit-user .edit-user-input {
  padding: 5px;
  margin-left: 10px;
}

.edit-user .edit-user-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.edit-user .edit-user-btn input {
  border: none;
  border-radius: 2px;
  background-color: #008b50;
  margin: 2px;
  padding: 5px;
}

.edit-user .edit-user-btn input:hover {
  cursor: pointer;
  background-color: #008b2a;
}
/*# sourceMappingURL=styles.css.map */