*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

@import './user_log.scss';

@import './list-of-users.scss';

@import './edit-user.scss';